h1 {
  color: black;
  text-align: left;
  font-family: times;
  font-size: 50px
}

p {
  color: black;
  font-family: times;
  font-size: 20px;
  text-align: left;

h2 {
  color: black;
  font-family: times;
  text-align: left;
}

li {
  color: black;
  font-family: times;
}
